$cvs:                 '20201016';

$fontFamily:          "PingFang SC","Noto SansCJK SC", roto, arial, sans-serif !default;
$colorPrimary: #E41006 !default; // 主题色
$colorText: #333333 !default; // 文本默认色
$colorGrey: #666666 !default; // 灰色
$colorGreyLight: #999999 !default; // 浅灰色
$colorWhite: #ffffff !default; // 白色
$bgPrimary: #F7F7F7 !default; // 背景色

