
<script type="text/javascript">
  function setPixel() {
    function adjust() {
      var _width = document.documentElement.clientWidth;
      var width = _width > 540 ? 540 : _width;
      document.documentElement.style.fontSize = 75 * (width / 750) + 'px';
    }
  
    adjust();
    window.addEventListener('orientationchange' in window ? 'orientationchange' : 'resize', adjust, false);
  }
  
  // 解决ios css active不生效的问题
  document.addEventListener("touchstart", function () {}, false);
  typeof window !== 'undefined' && setPixel()
</script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
